NODE_ENV=production
PORT=5000

# SMTP Email Credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mohammed.muzzammil.s@gmail.com
SMTP_PASS=wevc kffx mrtm hyvo

# Production Frontend Client URL for CORS & Password Reset Links
FRONTEND_URL=https://prolync-livepresence.vercel.app
